<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{% seo %}
	<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<link rel="apple-touch-icon" href="/icon.png">
</head>
<body>
	<header itemscope itemtype="http://schema.org/Person">
		<img class="logo" itemprop="image" src="{{ site.github.owner_gravatar_url }}?s=250" srcset="{{ site.github.owner_gravatar_url }}?s=500 2x"
			alt="Profile photo of {{ site.github.owner_name }}.">
		<h1 itemprop="name">
			<span itemprop="givenName">Gareth</span>
			<span itemprop="familyName">Flowers</span>
		</h1>
		<h2 itemprop="jobTitle">Developer</h2>
		<div>
			<a href="{{ site.github.url }}" itemprop="url">
				{{ site.github.url }}
			</a>
		</div>
		<nav>
			<a href="{{ site.github.owner_url }}">
				<img src="/assets/images/github.svg" alt="GitHub">
			</a>
			<a href="https://twitter.com/{{ site.github.owner_name }}">
				<img src="/assets/images/twitter.svg" alt="Twitter">
			</a>
		</nav>
	</header>
	<main>
	 	{% if site.show_downloads != false %}
		<ul class="downloads">
			<li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
			<li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
			<li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
		</ul>
		{% endif %}
		{{ content }}
	</main>
</body>
</html>
